  <h2 class="accroche">Mise en location de ton livre</h2>
<%= link_to "← Retour", root_path, class:"text-decoration-none text-dark ms-5 mt-2 mb-2 " %>

<div class="container mb-5">
  <div style="width: 60%" class="m-auto mt-3 mb-5">
    <%= simple_form_for(@book) do |f| %>
      <%= f.input :title, label: 'Titre', :input_html => { :class => 'bg-white' }%>
      <%= f.input :description, label: 'Description', :input_html => { :class => 'bg-white' } %>
      <%= f.input :author, label: 'Auteur', :input_html => { :class => 'bg-white' } %>
      <%= f.input :year, label: 'Année de publication', :input_html => { :class => 'bg-white' } %>
      <%= f.input :publisher,  label: 'Editeur', :input_html => { :class => 'bg-white' } %>
      <%= f.input :price_per_day,  label: 'Prix par jour', :input_html => { :class => 'bg-white' } %>
      <%= f.input :photo, as: :file,  label: 'La photo du livre', :input_html => { :class => 'bg-white' } %>
      <%= f.submit "Enregistrer", class: "btn btn-primary button", :input_html => { :class => 'bg-white' }%>
    <% end %>
  </div>
</div>
